.kl-card-model {
    padding: 9px 15px;
    max-width: 232px;
    min-height: 123px;
    border: 3px solid #E7EAF3;
    border-radius: 16px;
    transition: all .25s;
    &:hover, &.active{
        border: 3px solid #F9B233;
        box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.51);
    }
    @include media-breakpoint-down(lg){
        margin: auto;
    }
}